@font-face {
    font-family: "NeueMontrealBold";
    src: url("fonts/NeueMontreal-Bold.woff");

}

@font-face {
    font-family: "NeueMontrealMedium";
    src: url("fonts/NeueMontreal-Regular.woff");
}


body {
  /*background: url("image/hintergrund.png") repeat center; */
}

#page-content {
    flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: none;
}

h1 {
    font-family: 'NeueMontrealBold', sans-serif;

}

h2 {
    font-family: 'NeueMontrealBold', sans-serif;

}

p {
    font-family: 'NeueMontrealMedium', sans-serif;

}

nav {
    font-family: 'NeueMontrealMedium', sans-serif;
}

/*-------- Navbar ---------*/

.navbar-custom {
    background-color: #110d29;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255, 255, 255, .8);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .5);
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

/*---------------------------*/

.willkommen {
    font-size: 20px;
    text-align: justify;
}

.bildinhalt {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.bildergallerie {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.ueberuns {
    text-align: center;

}

.team {
    text-align: center;
}

.ueberunsinfo {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 18px;
}

.footer-custom {
    background-color: #110d29;
}


html {
    scroll-behavior: smooth;
}

.gallerie {
    padding-left:  2%;
    padding-right: 2%;
}



